#forgotPasswordDiv {
	display: none;
}

#oldPassword {
	display: none;
}

#loginButton {
	background-color: green;
	color: white;
	border: none;
	padding: 16px 15px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#loginButton:hover {
	background-color: #17A589;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#signupButton {
	background-color: #3498DB;
	color: white;
	border: none;
	padding: 16px 14px;
	margin-left: 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#signupButton:hover {
	background-color: #5DADE2;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.helloUser {
	background-color: #000000;
	color: white;
}
/* .logoutcss{
	margin-left: 730px;
} */
#storeUserForm {
	margin-top: 200px;
	margin-left: 100px;
	width: 200px;
}

#updateUserForm {
	margin-top: 200px;
	margin-left: 100px;
	width: 250px;
}

#tokenCheckForm {
	margin-top: 100px;
	margin-left: 50px;
	width: 200px;
}

#tokenCheckSubmit {
	background-color: purple;
	color: white;
	border: none;
	padding: 16px 14px;
	margin-left: 30px;
	margin-top: 10px
}

#tokenCheckSubmit:hover {
	background-color: #8730AB;
	color: white;
}

.editButton {
	background-color: #3498DB;
	color: white;
	border: none;
	padding: 8px 15px;
}

.editButton:hover {
	background-color: #5DADE2;
	color: white;
}

.changePassword {
	background-color: #3498DB;
	color: white;
	border: none;
	padding: 8px 15px;
}

.changePassword:hover {
	background-color: #5DADE2;
	color: white;
}

	

#oldPasswordCheck{
	background-color: green;
	color: white;
	border: none;
	padding: 16px 14px;
	margin-left: 30px;
	margin-top: 10px
}

#oldPasswordCheck:hover {
	background-color:  #17A589;
	color: white;
}

#profileMessageDiv {
	margin-left: 30px;
	margin-top: 10px
}

#bodyContent{
	margin-left: 30px;
	margin-top: 70px
}


/* New ROR css styles  */
.ror-content {
	
}



.ror-inputField {
	width: 75%;
}

.ror-green-button {
	background-color: green;
	color: white;
	border: none;
	padding: 16px 15px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ror-green-button:hover {
	background-color: #17A589;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.ror-blue-button {
	background-color: #3498DB;
	color: white;
	border: none;
	padding: 16px 15px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ror-blue-button:hover {
	background-color: #5DADE2;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.ror-card-size {
	height: 815px;
}

.ror-card-size-half {
	height: 615px;
}

.ror-card-size-full {
	height: 915px;
}

@media ( max-width : 768px) {
	.ror-card-size {
		height: 650px;
	}
	.ror-card-size-half {
		height: 420px;
	}
	
	.ror-card-size-full {
	height: 715px;
}
}

@media ( min-width :768px) {
	.ror-aboutus {
		height: 450px;
	}
}
