#forgotPasswordDiv {
	display: none;
}

#loginButton {
	background-color: green;
	color: white;
	border: none;
	padding: 16px 15px;
}

#loginButton:hover {
	background-color: #17A589;
	color: white;
}

#signupButton {
	background-color: #3498DB;
	color: white;
	border: none;
	padding: 16px 14px;
	margin-left: 30px;
}

#signupButton:hover {
	background-color: #5DADE2;
	color: white;
}

.helloUser {
	background-color: #000000;
	color: white;
}
/* .logoutcss{
	margin-left: 730px;
} */
#storeUserForm {
	margin-top: 200px;
	margin-left: 100px;
	width: 200px;
}
#updateUserForm{
	margin-top: 200px;
	margin-left: 100px;
	width: 250px;
}

#tokenCheckForm{
	margin-top: 100px;
	margin-left: 50px;
	width: 200px;
}

#tokenCheckSubmit{
	background-color: purple;
	color: white;
	border: none;
	padding: 16px 14px;
	margin-left: 30px;
	margin-top :10px
}

#tokenCheckSubmit:hover {
	background-color: #8730AB;
	color: white;
}

.editButton{
	background-color: #3498DB;
	color: white;
	border: none;
	padding: 8px 15px;
}

.editButton:hover{
	background-color: #5DADE2;
	color: white;
}

#profileMessageDiv{
	margin-left: 30px;
	margin-top :10px
}
