.profile-message {
	color: green;
}

.ror-card-size-profile {
	height: 250px;
}

.profileLayout {
	border: #E6E4E8 solid 1px;
	padding: 10px;
	margin: 15px;
}

.helloUserName {
	font-size: large;
	padding: 10px;
}