
.update-form {
	border: #E6E4E8 solid 1px;
	padding: 10px;
	margin: 15px;
}

.ror-edit-blue-button {
	background-color: #3498DB;
	color: white;
	border: none;
	padding: 8px 15px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.ror-edit-blue-button:hover {
	background-color: #3498DB;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

.ror-update-button {
	background-color: purple;
	color: white;
	border: none;
	padding: 8px 15px;
	margin-left: 100px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.ror-update-button:hover {
	background-color: #8730AB;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

.ror-green-change-button {
	background-color: green;
	color: white;
	border: none;
	padding: 8px 15px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.ror-green-change-button:hover {
	background-color: #17A589;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

.ror-changePassword-button {
	margin-top:15px;
	margin-left:70px;
	background-color: #3498DB;
	color: white;
	border: none;
	padding: 8px 15px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.ror-changePassword-button:hover {
	background-color: #3498DB;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

@media ( min-width :768px) {
	.ror-update-image {
		height: 250px;
	}
}